.videoCard{
    width: 295px;
    margin-bottom: 40px;
    position: relative;
}

.videoImg{
    height: 162px;
    width: 295px;
    margin-bottom: 0;
}

.videoData{
    display: flex;
    padding-top: 10px;
}
 .channelDetails{
    margin-left: 10px;
 }
 .channelDetails p{
    margin-top: -18px;
    font-size: 14px;
    color:rgb(122, 122, 122);
    font-weight: 550;
    margin-bottom: 15px;
 }

 .channelDetails h5{
    margin-top: -5px;
    color: rgb(26,26,26);
 }

 .duration{
    background-color:rgb(31, 31, 31) ;
    width: 40px;
    height: 18px;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    top: 135px;
    right: 10px;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.9;
 }

